.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: #800000;
  padding: 5%;
  color: #800000;
  margin-bottom: 5%;
  font-family: "Raleway Bold";
  text-align: center;
}
.translucent-form-overlay .columns.row {
  display: block;
}
.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #ffffff;
  background-color: #4d0000;
  font-family: "Raleway Bold";
}
.translucent-form-overlay input, .translucent-form-overlay select {
  color: #ffffff;
}
#title {
  padding-top: 10%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Raleway Bold";
  color: #800000;
}
h3 {
  margin-bottom: 40px;
}
@media screen and (max-width: 39.9375em) {
  #title {
    margin-top: 25%;
  }
  .translucent-form-overlay {
    width: 80%;
    margin-bottom: 10%;
  }
}